{
  "extends": ["./index.js"],
  "rules": {
    "security/detect-non-literal-fs-filename": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-module": 0,
    "unicorn/prefer-node-protocol": 0
  },
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  }
}
